.navbar {
  display: flex;
  align-items: center;
  background-color: teal;
  padding: 5px;
  margin-bottom: 10px;
}

.navbar a {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar a:hover {
  cursor: pointer;
}

.user {
  margin-left: auto;
}

.navbar button {
  margin-left: 5px;
}

.navbar button:hover {
  cursor: pointer;
}
